<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emailClient" class="springdemo.EmailClient">
		<constructor-arg name="spellChecker" ref="pro"></constructor-arg>	
	</bean>

	<bean id="basic" class="springdemo.BasicSpellChecker"/>
		<bean id="advanced" class="springdemo.AdvancedSpellChecker"/>
	
		<bean id="pro" class="springdemo.ProSpellChecker"/>
	

	<!-- more bean definitions go here -->

</beans>